@model SportsStoreDomainLibrary.Entities.Cart
@{ 
    Layout = null;
    var lineCount = Model.Lines.Count();
    var toggle = lineCount == 0 ? "disabled" : "";
}
<div style="margin-right:5px;">
    @if (lineCount > 0)
    {
        <small class="navbar-text">
            @Html.ActionLink("Your Cart", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, new { @Class = ""})
            @Model.Lines.Sum(x=>x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
            @Html.ActionLink("C", "Checkout", new { controller = "Cart", action = "Checkout" }, new { @Class = "fa fa-shopping-cart " + toggle })
        </small>
    }
   
</div>
